@font-face {
  font-family: 'GooglrSans-Black';
  src: url('../assets/font/GoogleSans-Black.otf') format('opentype');
}

@font-face {
  font-family: 'GoogleSans-BlackItalic';
  src: url('../assets/font/GoogleSans-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('../assets/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'GoogleSans-Italic';
  src: url('../assets/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'UTM\ BryantLG';
  src: url('../assets/font/UTM\ BryantLG.ttf') format('opentype');
}

$font_UTM_BryantLG : "UTM\ BryantLG";
$navlink_color : #10e010;
$white_color : #ffffff;
$content_hapolearn_title : #11114E;
$content_hapolearn : #505353;
$background_button_hapolearn_banner : #B2D235;
$frontend-courses-color : #3F6185;
$laravel-courses-color : #DC594C;
$php-courses-color : #556598;
$card-title_color : #B2D235;
$background-border-btn-card : #6F8710;
$background-css-tutorial : #24ABE2;
$background-rails-tutorial : #E14E40;
$background-java-tutorial : #1B75BB;
$text-expend-courses-color : #90AB26;
$boder-left-content : #D9DADC;
$star-color : #F2C54F;
$boder-aroww-circle : #c4c4c4;
$background-color-footer-final : #454545;
