.navbar {
    height: 150px;
    padding: 0px;
}

.navbar-branch {
    margin-left: 130px;
}

.navbar-nav {
    margin-right: 130px;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 19.07px;
    border-radius: 17px;
}

.nav-link:hover {
    background-color: rgb(16, 224, 16);
    color: #ffffff !important;
}

.nav-link:active {
    background-color: rgb(16, 224, 16) !important;
    color: #ffffff !important;
}

.nav-toggler-icon {
    cursor: pointer;
}

@media (max-width: 769px) {
    .navbar-expand-md .container-fluid {
        flex-wrap: wrap !important;
    }

    .navbar-branch img {
        width: 300px;
        height: 61.74px;
    }
}

@media (max-width: 415px) {
    .navbar {
        height: 62px;
    }

    .navbar-toggler {
        border: none;
        margin: 19px 21px;
        padding: 0px;
    }

    .navbar-toggler-icon {
        width: 18px;
        height: 23px;
    }

    .navbar-branch {
        margin-left: auto;
        margin-right: 112px;
        padding: 0px;
    }

    .navbar-branch img {
        width: 150px;
        height: 26.75px;
    }
}

